.colorBlue {
    color: blue;
}

.users {
    display: grid;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
}

.user-card {
    min-width: 200px;
    border: 2px solid #000;
    padding: 5px;
}

.username {
    font-size: 18px;
    font-weight: 700;
    
    .username__span {
        font-size: 24px;
        text-transform: uppercase;
        color: red;
        font-weight: 700;
    }
}
.name__span {
    color: brown;
}

.title {
    font-weight: 700;

    .value {
        font-weight: 400;
    }
}
/* ------------ */
.dogs {
    display: grid;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.dog-pic {
    width: 550px;
    max-height: 600px;
}
