.wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    padding: 20px;
}

.color_up {
    background-color: red;
}

.color_down {
    background-color: black;
}

.color_text {
    color: white;
}

