.header {
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 18px;

  div {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      gap: 41px;
    }
  }
}