@import "vars";
@import "swiper";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  position: relative;

  &_logo_group {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &_logo_group_logo {
    display: flex;
    gap: 41px;
    align-items: center;
  }

  &_nav {
    display: flex;
    gap: 33px;
    align-items: center;

    #burger {
      position: absolute;
      left: -999999px;
      visibility: hidden;

      &:checked ~ nav {
        right: -232px;
      }
    }

    .burger_nav {
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      background: #fff;
      width: 232px;
      padding: 37px 34px 32px;
      box-sizing: border-box;
      position: absolute;
      top: 78px;
      right: 0px;
      transition: right 0.3s;
      z-index: 10;

      .nav {
        &_header {
          color: #000;
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
          text-transform: uppercase;
        }

        &_group {
          &_name {
            list-style: none;
            color: $colorSiteMainElement;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding: 20px 0px 0px;
            text-transform: uppercase;
          }

          &_elements {
            display: flex;
            flex-direction: column;
            // gap: 11px;
            padding-left: 21px;
          }

          &_link {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            margin-top: 11px;
          }
        }
      }

      &__registration,
      &__card {
        display: none;
      }
    }
  }
}

/* по БЭМ */
.breadcrumb {
  &__ul {
    display: flex;
  }

  &__li {
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;

    &:not(:last-child)::after {
      content: "/";
      padding: 8px;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  &__link {
    color: $colorSiteMainElement;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
  }
}

.title {
  background-color: #f1e4e6;
  /* margin-left: -170px; */
  &_center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }

  &_content {
    display: flex;
    height: 764px;
    /* margin-right: 30px; */
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  &_headers {
    display: flex;
    // width: 800px;
    justify-content: flex-start;
  }

  &-header {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    max-width: 377px;
    border-left: 12px solid $colorSiteMainElement;
    padding-left: 16px;
    line-height: 2rem;

    &-down {
      color: #222;
      font-size: 32px;
      font-weight: 700;
    }

    &-red {
      color: $colorSiteMainElement;
    }
  }
}

/* .offer {
  &_content {
    margin-top: 65px;
  }

  &_cards_up {
    // display: flex;
    gap: 30px;
    // flex-wrap: wrap;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    justify-content: center;
    justify-items: center;
  }

  &_card {
    position: relative;

    &-1 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      flex-wrap: nowrap;
      gap: 5px;
    }

    &-text {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-group {
      color: $colorSiteMainElement;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &_cards_down {
    margin-top: 30px;
  }
} */

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;

  &__item {
    position: relative;
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $colorSiteMainElement;
    text-transform: uppercase;
  }

  &__img {
    max-width: 100%;
  }
}

.products {
  margin-top: 64px;
  margin-bottom: 96px;

  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  &_header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;

    &-head {
      color: #222;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }

    &-text {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  &_elements {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &_card {
    width: 360px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &_img {
      position: relative;
      height: 420px;
    }

    &-img {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 1;
      transition: 0.3s;
    }

    &_img:hover {
      .products_card-img {
        filter: brightness(0.3);
      }

      .products_card_img-button {
        display: flex;
        gap: 11px;
        align-items: center;
        padding: 11px 16px 9px 14px;
        border: 2px solid #fff;
        left: 111px;
        top: 156px;
        position: absolute;

        .products_card_img-button-text {
          display: flex;
          gap: 11px;
          align-items: center;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }

        .products_card_img-button-text::before {
          content: url("../img/svg/basket.svg");
        }
      }
    }

    &_down {
      display: flex;
      padding: 24px 16px;
      flex-direction: column;
      gap: 16px;
      overflow: hidden;

      &_header {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }

      &_text {
        color: #5d5d5d;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
      }

      &_price {
        color: $colorSiteMainElement;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }

  &_button {
    border: 1px solid #ff6a6a;
    padding: 15px 38px;

    &_link {
      color: #f26376;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}

.swiper-page {
  border: 1px solid rgb(235, 235, 235);
  padding: 12px 16px;
  display: flex;
  gap: 18px;

  &__navigate ~ path {
    fill: #000;
  }

  &__number {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #c4c4c4;

    &_active {
      color: #ef5b70;
    }
  }
}

.page_product {
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8f3f4;

    &_left a {
      color: $colorSiteMainElement;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      text-transform: uppercase;
    }

    /*     &_right {
      color: $colorSiteMainElement;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;

      span {
        font-weight: 900;
      }
    } */
  }

  &_title {
    position: relative;
    &_slider {
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
    }

    &_product_description {
      position: absolute;
      z-index: 2;
      margin-top: -64px;
      height: 600px;

      &_outer_frame {
        padding-top: 65px;
        padding-bottom: 65px;
        border: 1px solid #eaeaea;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        width: 1140px;
        background-color: #fff;
      }

      &_name {
        color: $colorSiteMainElement;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-transform: uppercase;
      }

      &_border {
        margin-top: 12px;
        border-bottom: 3px solid #ef5b70;
        width: 64px;
      }

      &_header {
        margin-top: 12px;
        color: #4d4d4d;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
      }

      &_text {
        color: #5e5e5e;
        margin-top: 49px;
        width: 555px;
        text-align: center;
      }

      &_price {
        margin-top: 32px;
        color: #ef5b70;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
      }

      &_hr {
        margin-top: 65px;
        width: 641px;
        height: 1px;
        background-color: #ef5b70;
      }

      &_filter_group {
        display: flex;
        gap: 23px;
        margin-top: 64px;
        margin-bottom: 48px;

        a {
          display: flex;
          gap: 9px;
        }
        &_color {
          &_name {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
          }

          &_svg {
            fill: #6f6e6e;
            margin-top: -5px;
          }
        }
      }

      &_button_link {
        display: flex;
        gap: 23px;
        align-items: center;
      }
    }
  }

  &_additional_cards {
    margin-top: 729px;
    margin-bottom: 129px;
  }
}

.lists-cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 58px;
  }
}

.address {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    text-transform: uppercase;
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }

  &__input {
    padding: 13px 17px 16px;
    color: #222;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    border: 1px solid rgb(164, 164, 164);
    outline: none;

    &::placeholder {
      color: #b1b1b1;
    }
  }

  &__button {
    border: 1px solid rgb(164, 164, 164);
    padding: 10px 14px;
    max-width: 107px;
    color: rgb(74, 74, 74);
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    background-color: #fff;

    &:hover {
      background: $colorSiteMainElement;
      color: #fff;
      cursor: pointer;
    }
  }
}

.checkout {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 44px;
  background: rgb(245, 243, 243);

  &__sub {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

  &__grand {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #222;
    margin-top: 12px;

    &_span {
      font-weight: 700;
      color: $colorSiteMainElement;
    }
  }

  &__hr {
    border: 1px solid #e2e2e2;
    margin-top: 20px;
    width: 100%;
  }

  &__button {
    padding: 15px 42px;
    background: rgb(241, 109, 127);
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    border: none;
    cursor: pointer;
    margin-top: 17px;
  }
}

.cart {
  width: 652px;
  display: flex;
  gap: 31px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);

  .cart-group {
    display: flex;
    flex-direction: column;
    gap: 42px;
    box-sizing: border-box;
    padding-top: 22px;
    padding-bottom: 62px;

    &__header {
      display: flex;
      gap: 100px;
      padding-right: 22px;

      & svg {
        cursor: pointer;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .quantity {
      display: flex;
      gap: 24px;
      align-items: center;

      &__number {
        padding: 1px 16px;
        max-width: 22px;
        border: 1px solid #eaeaea;
        color: rgb(101, 101, 101);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
      }
    }
  }

  &__name {
    color: #222;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  &__data {
    color: #575757;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
  }

  &__price_numder {
    color: #ef5b70;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    padding: 17px 40px;
    border: 1px solid #a4a4a4;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background: $colorSiteMainElement;
      color: #fff;
      border: none;
    }
  }
}

.filter {
  height: 64px;
  padding-top: 39px;
  display: flex;
  gap: 30px;

  &_details {
    padding-top: 13px;
    width: 360px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    box-sizing: border-box;

    &_groups {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      background: #fff;
      gap: 18px;
      padding: 0 16px 16px;
    }

    &_group {
      &[open] .filter_details_group_summary {
        color: $colorSiteMainElement;
      }

      &_summary {
        border-left: 5px solid $colorSiteMainElement;
        border-bottom: 1px solid #ebebeb;
        padding: 8px 11px 11px;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        list-style: none;
      }

      &_links {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 17px 6px;
      }

      &_link {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: capitalize;
      }
    }
  }

  &_details[open] {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: #fff;

    .filter_summary_heading {
      color: $colorSiteMainElement;
    }

    path {
      fill: $colorSiteMainElement;
    }
  }

  &_summary {
    text-transform: uppercase;
    display: flex;
    gap: 11px;
    align-items: center;
    padding-left: 16px;

    &_heading {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }
  }

  &_sort {
    padding-top: 12px;
    display: flex;
    gap: 28px;

    &_group {
      position: relative;

      &[open] .filter_sort_group_heading > svg {
        transform: rotate(180deg);
      }

      &_heading {
        display: flex;
        gap: 10px;
        align-items: center;
        list-style: none;

        &_text {
          color: #6f6e6e;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }
      }

      &_checkbox {
        display: flex;
        gap: 10px;
        flex-direction: column;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: #fff;
        padding: 7px 30px 11px 10px;
        margin-top: 5px;
        z-index: 6;
        position: absolute;
        left: -9px;

        &_label {
          display: flex;
          color: #6f6e6e;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
        }

        &_input {
          margin-right: 9px;
        }
      }
    }
  }
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  gap: 128px;

  &__right {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__form {
    &_container {
      display: flex;
      flex-direction: column;
      max-width: 359px;
    }
  }

  &__label {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 20px;
  }

  &__input {
    color: #222;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    border: 1px solid #a4a4a4;
    padding: 14px 17px;
    outline: none;
    margin-bottom: 20px;
  }

  &__gender {
    display: flex;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 32px;

    .gender__radio {
      box-sizing: border-box;
      border: 1px solid rgb(164, 164, 164);
    }

    .gender__label {
      color: #000;
      font-size: 11px;
      font-weight: 300;
      line-height: 13px;
      margin-right: 10px;
    }
  }

  &__explanation {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-top: -5px;
    margin-bottom: 40px;
  }

  &__button {
    padding: 16px 29px;
    text-transform: uppercase;
    border: 1px solid #a4a4a4;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    &_arrow path {
      fill: #000;
    }

    &:hover {
      background: $colorSiteMainElement;
      border: 1px solid $colorSiteMainElement;
      color: #fff;
      box-sizing: border-box;
      cursor: pointer;

      .registration__button_arrow path {
        fill: #fff;
      }
    }
  }

  &__header {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    max-width: 652px;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__perks {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    list-style: none;

    &::before {
      content: url("../img/icon/tick.svg");
      margin-right: 22px;
    }
  }
}


// @import "media_1024";
// @import "media_768";
// @import "media_425";